# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
.react-router/
.turbo/
*.tsbuildinfo

# Entorno
.env
.env.*
!.env.example

# Prisma
apps/api/prisma/*.db

# Tests / cobertura
coverage/
playwright-report/
test-results/

# Editor / SO
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
